body {
    text-align: center;
    background-color: lightcyan;
}

.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999;
}

label {
    background-color: darkcyan;
    text-align: center;
    color: white;
    width: 500;
    text-decoration-style: solid;
}